<h1 class= "text-center mt-4"> Create a new category </h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'form'%>
    </div>
    <%= link_to '[ Cancel & return to categories list ]' , categories_path , class: "text-dark" %>
  </div>
</div>